*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "sans-serif";
  box-sizing: border-box;
  font-size: 16px;
  background-color: #778899;
  margin: 0;
}
main{
  position: relative;
  width: 100%;
  height: 100vh;
}

main h1{
  color: white;
  font-size: 300%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.doorgaan{
  margin-left: 5px;
}

button{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: black;
}

input{

  height: 20px;
  margin: 10px;
}
.verwijderen{
  width: 60px;
  background: black;
}

select{
  height: 25px;
  margin: 10px;
  font-size: 18px;
}
main h2{
  color: white;
  font-size: 200%;
}

h2{
  margin: 10px;
}
.adminadd{
  position: absolute;
  top: 10%;
  left: 40%;
  background: white;
  width: 300px;
  height: 60px;
}
.admindel{
  position: absolute;
  top: 30%;
  left: 40%;
  background: white;
  width: 300px;
  height: 60px;
}
.adminup{
  position: absolute;
  top: 20%;
  left: 40%;
  background: white;
  width: 300px;
  height: 60px;
}


.cardcontainer{
  margin: .5em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-columns: auto;
  grid-gap: 1rem;
  align-items: center;
}

.card{
  text-align: center;
  transition: all 1s ease;
}

.carddescription{
  border-radius: 4px;
  width: 100%;
  background-color: white;
  margin-top: 5px;
  font-size: 2em;
  font-weight: bold;
  user-select: none;
}
.biertjes{
  border-radius: 4px;
  width: 100%;
  background-color: white;
  margin-top: 5px;

  font-size: 2em;
  font-weight: bold;
  user-select: none;
  display: inline-block;

}

.card-test{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardheader{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #778899 ;
}


.cardheader__img{
  width: auto;
  height: 200px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  padding: 20px;
  color: white;
  margin-right: 100px;
  font-size: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}




input[type=text],input[type=number], select, textarea {
  width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
}






label {
  padding: 10px 10px 10px 0;
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

button[type=submit] {
  background-color: #black;
  color: white;
  height: 30px;
  width: 100px;
  margin: 5px;

  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;

}


input[type=submit]:hover {
  background-color: #778899;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .cardcontainer{
    margin: .5em;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-columns: auto;
    grid-gap: 1rem;
    align-items: center;
  }
  li {
    float: left;
    padding: 10px;
    color: white;
    margin-right: 250px;
    font-size: 20px;
}
.badmintest{
  width: 300px;
  height: 60px;
  margin-top: 10px;
}



  .adminadd{
    position: absolute;
    top: 10%;
    text-align: center;
    left: 10%;
    background: white;
    width: 300px;
    height: 60px;

  }


  .admindel{
    position: absolute;
    top: 40%;
    left: 10%;
    background: white;
    width: 300px;
    height: 60px;

  }
  .adminup{
    position: absolute;
    top: 25%;
    left: 10%;
    background: white;
    width: 300px;
    height: 60px;
  }
}
